:host {
    flex: 1;
    position: fixed;

    display: flex;
    flex-direction: column;

    flex-grow: 1;
    height: 100%;
    width: 100%;
    transition: 1s all;
    overflow: hidden;

    z-index: 10000;
    background-color: #3bb4c3;

    align-items: center;
    justify-content: center;

    &.minimised {
        height: 0;
        flex-grow: 0;
        transition: 1s all;
    }
}

#logo {
    height: 15em;
    width: 15em;
}