@import 'src/styles/material.palettes.scss';

:host {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 40rem) {
    :host {
        width: 30rem;
    }
}

.question {
    width: 100%;
}

mat-progress-bar {
    margin-bottom: .5rem;
}

.answer-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    >div {
        position: relative;

        .avatar-container {
            position: absolute;
            right: 0;
            top: 1.25rem;

            img {
                height: 2rem;
                width: 2rem;
                margin-left: .25rem;
            }
        }
    }

    button {
        width: 100%;
        margin-bottom: 1.2rem;
        color: #fff !important;

        &.correct {
            background-color: map-get($sb-palette-green, 500) !important;
        }
    }
}

.leaderboard-container {
    display: flex;
    flex-direction: row-reverse;
}

.leaderboard {
    width: 10rem;

    > div {
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        border-radius: 1rem;
        position: relative;
        height: 1.5rem;
        margin-bottom: 2rem;

        > img {
            height: 2rem;
            position: absolute;
            left: -1rem;
        }

        > span {
            &.nameplate {
                margin-left: 1.5rem;
                font-size: larger;
                flex-grow: 1;
            }

            &.score {
                margin-right: .5rem;
            }
        }

        > div {
            display: inline-block;
        }
    }    
}