:host {
    display: flex;
    flex-direction: row-reverse;

    &.centered {
        flex-direction: column;
        align-items: center;
    }
}

.leaderboard {
    width: 10rem;

    > div {
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        border-radius: 1rem;
        position: relative;
        height: 1.5rem;
        margin-bottom: 2rem;

        &.selected {
            border: 1px solid yellow;
        }

        > img {
            height: 2rem;
            position: absolute;
            left: -1rem;
        }

        > span {
            &.nameplate {
                margin-left: 1.5rem;
                font-size: larger;
                flex-grow: 1;
            }

            &.score {
                margin-right: .5rem;
            }
        }

        > div {
            display: inline-block;
        }
    }    
}