$sb-teal: (
    50 : #f6fdfd,
    100 : #e9fafa,
    200 : #daf7f6,
    300 : #cbf3f2,
    400 : #c0f1f0,
    500 : #b5eeed,
    600 : #aeeceb,
    700 : #a5e9e8,
    800 : #9de7e5,
    900 : #8de2e0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f6ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sb-orange: (
    50 : #fff6e7,
    100 : #ffe7c4,
    200 : #ffd89d,
    300 : #ffc876,
    400 : #ffbc58,
    500 : #ffb03b,
    600 : #ffa935,
    700 : #ffa02d,
    800 : #ff9726,
    900 : #ff8719,
    A100 : #ffffff,
    A200 : #fffefd,
    A400 : #ffe2ca,
    A700 : #ffd4b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sb-yellow: (
    50 : #fefceb,
    100 : #fef6ce,
    200 : #fdf1ad,
    300 : #fceb8c,
    400 : #fbe674,
    500 : #fae25b,
    600 : #f9df53,
    700 : #f9da49,
    800 : #f8d640,
    900 : #f6cf2f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5d2,
    A700 : #fff0b8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sb-amber: (
    50 : #f6e9e5,
    100 : #e9c8be,
    200 : #dba493,
    300 : #cc8067,
    400 : #c16447,
    500 : #b64926,
    600 : #af4222,
    700 : #a6391c,
    800 : #9e3117,
    900 : #8e210d,
    A100 : #ffc6be,
    A200 : #ff998b,
    A400 : #ff6d58,
    A700 : #ff563f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sb-red: (
    50 : #f1e5e0,
    100 : #ddbfb3,
    200 : #c79480,
    300 : #b0694d,
    400 : #9f4826,
    500 : #8e2800,
    600 : #862400,
    700 : #7b1e00,
    800 : #711800,
    900 : #5f0f00,
    A100 : #ff9890,
    A200 : #ff695d,
    A400 : #ff3a2a,
    A700 : #ff2210,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

