<div *ngIf="IsHost">
    <input #clipboardInput [value]="LobbyCode" readonly style="opacity: 0; position: fixed; top: 0; left: 0" />

    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="outline" *ngIf="LobbyCode">
                <mat-label>Your Lobby Code</mat-label>
                <input matInput [value]="LobbyCode" readonly />
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="copyToClipboard(clipboardInput, $event)">COPY</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <div *ngFor="let player of Players">
        {{player.Name}} has joined the game
    </div>
</div>

<div *ngIf="IsHost">
    <button mat-raised-button color="accent" [disabled]="Players.length == 1" routerLink="">Start Game</button>
</div>