<div *ngIf="IsHost">
    <input #clipboardInput [value]="LobbyCode" readonly style="opacity: 0; position: fixed; top: 0; left: 0" />
    <input #shareLinkInput [value]="ShareLink" readonly style="opacity: 0; position: fixed; top: 0; left: 0" />

    <mat-form-field appearance="outline">
        <mat-label>Your Lobby Code</mat-label>
        <input matInput [value]="LobbyCode" readonly />
        <mat-icon matSuffix (click)="copyToClipboard(clipboardInput, $event)">content_copy</mat-icon>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
        <mat-label>Share this link with your friends!</mat-label>
        <input matInput [value]="ShareLink" readonly />
        <mat-icon matSuffix (click)="copyToClipboard(shareLinkInput, $event)">content_copy</mat-icon>
    </mat-form-field>
</div>

<div class="players-display">
    <div *ngFor="let player of Players">
        {{player.Name}} has joined the game
    </div>
</div>

<div *ngIf="IsHost" class="button-container">
    <button mat-raised-button color="accent" [disabled]="Players.length == 1" routerLink="../game">Start Game</button>
</div>