:host {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 40rem) {
    :host {
        width: 30rem;
    }
}

.phrase-container {
    text-align: center;

    .letter-container {
        display: inline-block;
        border: 1px solid white;
        padding: .5rem;
        border-radius: 0.25rem;
        margin: 0.25rem;
        font-variant: all-small-caps;
        width: 1.25rem;

        &.hidden {
            color: transparent;
        }
    }
}

.player {
    width: 10rem;
    margin-top: 1rem;

    > div {
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        border-radius: 1rem;
        position: relative;
        height: 1.5rem;
        margin-bottom: 2rem;

        > img {
            height: 2rem;
            position: absolute;
            left: -1rem;
        }

        > span {
            &.nameplate {
                margin-left: 1.5rem;
                font-size: larger;
                flex-grow: 1;
            }

            &.score {
                margin-right: .5rem;
            }
        }

        > div {
            display: inline-block;
        }
    }    
}