<ng-container *ngIf="Winner && RoundsCompleted >= NumberOfRounds">
    <div>
        {{Winner.Name}}
    </div>
    <button mat-raised-button *ngIf="RoundsCompleted >= NumberOfRounds" color="primary" routerLink="/home">Go Home</button>
</ng-container>

<ng-container *ngIf="RoundsCompleted < NumberOfRounds">
    <app-leaderboard></app-leaderboard>

    <app-wheel-category-selector *ngIf="SelectedCategory != null && RoundsCompleted < NumberOfRounds">
    </app-wheel-category-selector>
    <div *ngIf="SelectedCategory == null">
        Round: {{RoundsCompleted + 1}}
    </div>

    <div class="phrase-container" *ngIf="!(RoundsCompleted >= NumberOfRounds)">
        <ng-container *ngFor="let letter of CurrentPhrase">
            <span *ngIf="letter != ' '" class="letter-container" [class.hidden]="!IsLetterSelected(letter)">
                {{letter}}
            </span>
            <br *ngIf="letter == ' '" />
        </ng-container>
    </div>

    <div class="filtered-letters">
        <span *ngFor="let letter of FilteredChoices" class="selected-letters">
            {{letter}}
        </span>
    </div>

    <ng-container *ngIf="IsCurrentPlayer">
        <mat-form-field appearance="fill">
            <mat-label>Choose a letter</mat-label>
            <input matInput id="letterChoice" name="letterChoice" [(ngModel)]="LetterChoice" #name="ngModel" required
                maxlength="1" (keydown.enter)="SelectLetter()">
            <mat-error *ngIf="name.errors?.['required']">
                You must choose a letter
            </mat-error>
        </mat-form-field>

        <div>
            <button mat-flat-button color="accent" class="solvePhrase" (click)="HandleSolveClick()"
                *ngIf="ShowSolveButton">
                Solve
            </button>

            <button mat-flat-button color="primary" class="letterSubmit" (click)="SelectLetter()"
                [disabled]="name.errors">
                Choose Letter
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="CurrentPlayer == null">
        <div class="section-loading">
            <ul class="list-bars">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
    </ng-container>
</ng-container>