<div>
    <div>
        Create Lobby
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="/trivia/create-lobby">Trivia</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="/wheel-of-fortune/create-lobby">Wheel of Fortune</button>
    </div>
</div>

<br>

<div>
    <div>
        <div>
            <button mat-raised-button color="accent" routerLink="/trivia/join-lobby/">Join Trivia Lobby</button>
        </div>
        <div>
            <button mat-raised-button color="accent" routerLink="/wheel-of-fortune/join-lobby/">Join Wheel Lobby</button>
        </div>
    </div>
</div>