<!--
design by https://www.behance.net/vahanhovh
-->
<div class="container">
    <div class="small-glows"></div>

    <div class="glow">
        <div class="sun"></div>
    </div>

    <div class="waves">
        <div class="top_wave"></div>
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="wave3"></div>
        <div class="wave4"></div>
    </div>

    <div class="mounts">
        <div class="mount1"></div>
        <div class="mount2"></div>
    </div>

    <div class="clouds"></div>
    <div class="noise"></div>

</div>

<div class="content">
    <div class="logo-container">
        <div class="logo-holder">
            <p class="logo">
                Gamenight
            </p>
        </div>
    </div>

    <div>
        <button mat-raised-button color="primary" routerLink="/trivia/create-lobby">Trivia</button>
    </div>

    <div>
        <button mat-raised-button color="primary" routerLink="/wheel-of-fortune/create-lobby">Wheel of Fortune</button>
    </div>

    <div>
        <div>
            <div>
                <button mat-raised-button color="accent" routerLink="/trivia/join-lobby/">Join Trivia Lobby</button>
            </div>
            <div>
                <button mat-raised-button color="accent" routerLink="/wheel-of-fortune/join-lobby/">Join Wheel
                    Lobby</button>
            </div>
        </div>
    </div>

</div>