:host {
  display: flex;
}

.logo-container {
  z-index: 1000;
  display: flex;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.logo-holder {
  width: 40rem;
  height: 8rem;
  background-color: #4c4660;
  border: 4px solid #ff4571;
  border-radius: 68px;
  margin-top: -10%;
  position: relative;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: x-large;
  margin: 0;
}

#logo {
  height: 15em;
  width: 15em;
}

.container {
  background-color: #28dad4;
}

body {
  background-color: #28dad4;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.waves,
.mounts {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.waves div,
.mounts div {
  position: absolute;
  width: 100%;
}

.clouds {
  position: absolute;
  width: 100%;
  left: 0;
  top: 77px;
  height: 151px;
  background: url(/assets/clouds.svg)
    repeat-x;
  background-position-x: 170px;
}

.top_wave {
  background: url(/assets/top_wave.png)
    repeat-x 0 -1px;
  height: 35px;
  bottom: 0;
  z-index: 10001;
}

.wave1 {
  background: url(/assets/wave1.svg)
    repeat-x;
  height: 150px;
  bottom: 0;
  z-index: 23;
}

.wave2 {
  background: url(/assets/wave2.svg)
    repeat-x;
  height: 180px;
  bottom: 30px;
  z-index: 22;
}

.wave3 {
  background: url(/assets/wave3.svg)
    repeat-x;
  height: 180px;
  bottom: 90px;
  z-index: 21;
}

.wave4 {
  background: url(/assets/wave4.svg)
    repeat-x;
  height: 180px;
  bottom: 120px;
  z-index: 20;
}

.mount1 {
  background: url(/assets/mount1.svg)
    repeat-x;
  height: 150px;
  bottom: 280px;
  z-index: 11;
}

.mount2 {
  background: url(/assets/mount2.svg)
    repeat-x;
  height: 150px;
  bottom: 290px;
  z-index: 10;
}

.noise {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1010;
  background: url(/assets/noise.png);
}

.glow {
  position: absolute;
  left: -350px;
  top: -350px;
  width: 800px;
  height: 800px;
  background-color: rgba(81, 237, 200, 0.34);
  border-radius: 50%;
  box-shadow: 0 0 100px 100px rgba(81, 237, 200, 0.34);
  z-index: 1010;
}

.sun {
  position: relative;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 227, 69, 1);
  border-radius: 50%;
  box-shadow: 0 0 32px 32px rgba(255, 227, 69, 1),
    0 0 150px 150px rgba(103, 244, 210, 0.4);
}

.small-glow {
  z-index: 99;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.34);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.34);
}

.small-glow.yellow {
  background-color: rgba(255, 227, 69, 0.34);
  box-shadow: 0 0 4px 4px rgba(255, 227, 69, 0.34);
}

// ! Mario

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@media (max-width: 40rem) {
    .Title {
        font-size: 2rem !important;
    }

    .logo-holder {
        width: 20rem;
    }
}

.Title {
  font-size: 4rem;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  color: black;
  text-rendering: optimizeLegibility;
  transition: linear 2s;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 4rem;
  display: block;

  background: url(/assets/supermario.gif)
    no-repeat;
  background-size: 3.5rem;
  background-position: 1rem top;

  filter: drop-shadow(0 0 30px #ff1c64);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  top: 2rem;
}

.Background {
  position: absolute;
  background-clip: text;
  -webkit-text-fill-color: white;
  filter: drop-shadow(0 0 30px #753200) !important;
}

.hidden {
  background: none;
}

.easter-egg-button {
  position: fixed;
  top: 3rem;
  left: 3rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  cursor: pointer;
}

.games-container {
  display: flex;

  .spacer {
    min-width: 1rem;
    flex-grow: 1;
  }

  .button-container {

    div {
        position: relative;
        display: flex;
    }

    img {
        height: 10rem;
        width: 10rem;
        z-index: 100;
    }

    .fill {
        flex-grow: 1;
    }

    height: 10rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 1rem;
    }
  }
}
