<div class="container">
    <div class="small-glows"></div>

    <div class="glow">
        <div class="sun">
        </div>
    </div>

    <div class="waves">
        <div class="top_wave"></div>
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="wave3"></div>
        <div class="wave4"></div>
    </div>

    <div class="mounts">
        <div class="mount1"></div>
        <div class="mount2"></div>
    </div>

    <div class="clouds"></div>
    <div class="noise"></div>

</div>

<button class="easter-egg-button" (click)="ToggleEasterEgg()"></button>

<div class="content">
    <div class="logo-container">
        <div class="logo-holder">
            <span class="Title Background">Gamenight</span>
            <p id="text" class="Title" [class.hidden]="!ShowEasterEgg">Gamenight</p>
        </div>
    </div>

    <div class="games-container">
        <div class="button-container trivia">
            <div>
                <img src="assets/logos/trivia/logo_transparent.png" />
                <div class="fill"></div>
            </div>
            <button mat-raised-button color="primary" routerLink="/trivia/create-lobby">Create a game!</button>
            <button mat-raised-button color="accent" routerLink="/trivia/join-lobby/">Join a game!</button>
        </div>
        <div class="spacer"></div>
        <div class="button-container wheel">
            <div>
                <div class="fill"></div>
                <img src="assets/logos/phrase/logo_transparent.png" />
            </div>
            <button mat-raised-button color="primary" routerLink="/phrase/create-lobby">Create a game!</button>
            <button mat-raised-button color="accent" routerLink="/phrase/join-lobby/">Join a game!</button>
        </div>
    </div>

</div>