<mat-form-field appearance="fill">
    <mat-label>Choose a letter</mat-label>
    <input matInput id="letterChoice" name="letterChoice" [(ngModel)]="PhraseChoice" #name="ngModel" required
        minlength="1" (keydown.enter)="SolvePhrase()">
    <mat-error *ngIf="name.errors?.['required']">
        You must choose a letter
    </mat-error>
</mat-form-field>
<div class="button-container">
    <button mat-flat-button (click)="cancelSolve()">Cancel</button>
    <button mat-flat-button color="primary" class="solvePhrase" (click)="SolvePhrase()">
        Solve
    </button>
</div>