<mat-form-field appearance="fill">
    <mat-label>Enter your nickname</mat-label>
    <input matInput id="nn" name="nn" [(ngModel)]="Nickname" #nn="ngModel" required minlength="3" autocomplete="off"
        maxlength="12">
    <mat-error *ngIf="nn.errors?.['required']">
        Name is required.
    </mat-error>
    <mat-error *ngIf="nn.errors?.['minlength']">
        Name must be at least 3 characters long.
    </mat-error>
</mat-form-field>

<div class="avatar-container">
    <div *ngFor="let avatar of AvatarList" (click)="HandleAvatarClick(avatar)" [class.selected]="IsAvatarSelected(avatar)">
        <img src="assets/avatars/{{avatar}}.png" alt="{{avatar}}">
    </div>
</div>
  
<button mat-flat-button color="primary" class="profileButton" (click)="SaveProfile()" [disabled]="nn.errors || !Avatar">Save Profile</button>